body {
  text-align: center;
  background-color: #011F3F;
}

#welcome {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: orange;
  margin: 25px;
}
#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: orange;
  margin: 25px;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
  margin: 10px;
}

.hidden {
  display: none;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: url(img/img1.jpeg);
  background-size: 100% 100%;
  background-color: red;
  border: solid 10px red;

}

.green {
  background-color: green;
  background-image: url(img/img2.jpeg);
  background-size: 100% 100%;
  border: solid 10px green;
}

.blue {
  background-color: blue;
  background-image: url(img/img3.jpeg);
  background-size: 100% 100%;
  border: solid 10px blue;

}

.yellow {
  background-color: yellow;
  background-image: url(img/img4.jpeg);
  background-size: 100% 100%;
  border: solid 10px yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
